img{
    background-position: center;
	margin:auto;
	display: flex;


}


img:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0); 
  }
}


p{
	margin-top: 20px;
	font-family:"Varela Round", sans-serif;
	font-weight: bold;
	text-align: center;
}

#noline{
	text-decoration: none;
}

/*.line{
	display: inline-block;
}*/

#front{
	width: 220px;
	height:80px;
	background-color: yellow;
	background-position: center;
	text-align: center;
	margin:auto;
	margin-top: 10px;
	marker-mid: 10px;
	font-size: 26px;
	font-family:'Varela Round', sans-serif;
	border-radius: 30px;
	
}


 .imageCrop{
	 /*background-color:*/

	width:348px;
	height: 348px;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	margin: auto;
	border-radius: 10px;
}

 .imageCrop_1{
	 /*background-color:*/
    
	width:90%;
	height: 500px;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	margin: auto;
	
}

#left{
	width: 110px;
	height: 70px;
	margin-top: 30px;
	margin-right: 10px;
	margin-left: -130px;
	background-position: center;
	background-repeat: no-repeat;
	color: red;
	background-color: lightpink;
	left:50%;
	right:50%;
	font-family: Helvetica, sans-serif ;
	font-size: 23px;
	text-align: center;
	display:inline-block;
	font-family:"Varela Round", sans-serif;
	/*font-weight: bold;*/
	border-radius: 30px;

}

#right{
	width: 110px;
	height: 70px;
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 20px;
	background-position: center;
	background-repeat: no-repeat;
	color:blue;
	background-color: lightgreen;
	left:50%;
	right:50%;
	font-size: 23px;
	display:inline-block;
	font-family:"Varela Round", sans-serif;
	
	border-radius: 30px;

}


h1{
	font-size: 30px;
	color: #26C6BD;
	text-align: center;
}

h2{
	text-align: center;
	font-size: 50px;
	color: #ffe15e;
	text-shadow: 2px 2px 2px #aaa;
	margin: auto;
}

/*.imageCrop {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}*/

@media screen and (max-width: 500px) {
	h1{
		margin-top: 10px;
		font-size: 40px;
	}

    h2{ font-size: 35px;
    	margin-bottom: 10%;

    }

	img {

    width: 90%;
    background-position: center;
    margin-right: 8.5%;
    margin-top: 40%;
  }

  .imageCrop{
     margin:auto;
     /*margin-top: 10%;*/
     margin-left: -2.5px;

  }

  .imageCrop_1 {
    width: 90%;
    height: 200px;
    display: flex;
  }

  #front{
  	margin-top: 30px;
  	font-size: 120%;
  	width: 48%;
  	height: 60px;
  	margin-bottom: 10px;
  }

  .line{
 
  	display: inline-block;
  }


}